{% extends 'base_profile.html' %}

{% block profilemore %}
<div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6">

              <button class="btn btn-outline-linear btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Sortiraj
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#" onclick="refresh('{{ username }}','poImenu','{{ cena }}')">Po imenu</a>
                  <a class="dropdown-item" href="#" onclick="refresh('{{ username }}','poOceni','{{ cena }}')">Po oceni</a>
                  <a class="dropdown-item" href="#" onclick="refresh('{{ username }}','poVelicini','{{ cena }}')">Po velicini</a>
                  <a class="dropdown-item" href="#" onclick="refresh('{{ username }}','poVrednosti','{{ cena }}')">Po vrednosti</a>
              </div>



          </div>
      </div>
  </div>


{%  endblock %}

{% block profilecontent %}
<div id = "cont">
{% for izlozba in izlozbe %}
<div class="container mt-5">
    <div  style="color: whitesmoke;">
            {{ izlozba.naziv }}
          </div>
    <div id="myCarousel-{{ forloop.counter }}" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for nft in izlozba.nfts %}
                {% if forloop.first %}
                    <div class="carousel-item active">
                        <div class="row">
                {% elif forloop.counter0|divisibleby:4 %}
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                {% endif %}
                            <div class="col-md-3 mb-4">
                                <div class="album-item">
                                    <a href="{% url 'exhibition_review' izlozba.id %}">
                                            <img src="{{ nft.nft.slika.url }}" alt="NFT Image" style="width: 300px;height: 300px">
                                    </a>
                                    <div class="caption text-center">{{ nft.nft.naziv }}</div>
                                </div>
                            </div>
                {% endfor %}
                        </div>
                    </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel-{{ forloop.counter }}" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel-{{ forloop.counter }}" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
{% endfor %}
</div>
<form id="sortiraj" method="post" action="{% url 'exhibition_sort' %}" style="display: none;">
            {% csrf_token %}
            <input type="hidden" name="sort" id="sort" value = "{{typeOfSort}}">
            <input type="hidden" name="cena" id="cena" value = "{{ cena }}">
            <input type="hidden" name="username" id="username" value = "{{ username }}">
            <input type="hidden" name="pageType" id="pageType" value = "{{'collection'}}">
        </form>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js">
 </script>
<script>
function refresh(username,sortType,cena) {
                console.log("username passed to function: ",username);  // Dodajte ovo za debugging
                document.getElementById("username").value = username;
                document.getElementById("sort").value = sortType;
                document.getElementById("cena").value = cena;
                document.getElementById("pageType").value = "collection";
        console.log("Username set in hidden input: ", document.getElementById("username").value);  // Dodajte ovo za debugging
        document.getElementById("sortiraj").submit();
            }
 $(document).ready(function() {
        console.log("zastoo");
        function fetchIzlozbe() {
        var formData = $('#sortiraj').serialize();
        console.log(formData);
            $.ajax({
                url: '{% url 'exhibition_view_ajax' %}',
                type: 'POST',
                data:formData,
                dataType: 'html',
                success: function(data) {
                    $('#cont').empty(); // Prvo brišemo postojeći sadržaj elementa
                    $('#cont').html(data); // Zatim postavljamo novi HTML u element
                },
                error: function(xhr, status, error) {
                    console.error('AJAX request failed:', error);
                }
            });
        }

        // Pozivamo funkciju odmah po učitavanju stranice
        fetchIzlozbe();

        // Postavljamo interval za ponavljanje AJAX zahteva svakih 3 sekunde (3000 milisekundi)
        setInterval(fetchIzlozbe, 6000);

    });

        </script>


{%  endblock %}